<app-navbar></app-navbar>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #f="ngForm" (ngSubmit)="f.valid?onSubmit():null">

      <input type="text" placeholder="text" class="fadeIn first" [(ngModel)]="note.text" name="text" #t="ngModel"
        required>
      <div *ngIf="f.submitted && t.invalid" class="invalid-feedback">
        <div *ngIf="t.errors.required">caption is required</div>
      </div>

      <input type="file" placeholder="Image" class="fadeIn second" [(ngModel)]="image" name="image" #i="ngModel">
      <input type="submit" [value]="button">
    </form>
  </div>
</div>
