<app-navbar></app-navbar>

<div  id="formContent" class="container-fluid my-4">
<div *ngFor="let note of notes" class="card m-auto p-3" style="width: auto;">
  <img *ngIf="note.image_url" class="card-img-top" [src]="note.image_url" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{note.text}}</p>
  </div>
    <div class="row">
      <div class="col-md">
        <button class="btn btn-primary " *ngIf="!note.sharable" (click)="shareNote(note, true, true)">share</button>
        <button class="btn btn-primary col-md" *ngIf="note.sharable" (click)="shareNote(note, true, false)">unshare</button>
      </div>
      <div class="col-md">
        <button class="btn btn-secondary col-md" (click)="update(note)">update</button>
      </div>
      <div class="col-md">
        <button class="btn btn-danger col-md" (click)="deleteNote(note)">delete</button>
      </div>
    </div>
  </div>
</div>
