
<div  class="wrapper fadeInDown">
  <div id="formContent">
    <form #f="ngForm" (ngSubmit)="f.valid?onSubmit():null" [appMustMatch]="['password', 'confirm_password']">

      <input type="text" id="fullname" placeholder="fullname" class="fadeIn first" [(ngModel)]="user.fullname"
        name="fullname" #fullname="ngModel" required>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">full name is required</div>
        <div *ngIf="email.errors.email">full name must be a valid email address</div>
      </div>

      <input type="text" id="username" placeholder="username" class="fadeIn second" [(ngModel)]="user.username"
        name="username" #username="ngModel" required>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">user name is required</div>
        <div *ngIf="email.errors.email"> user name must be a valid email address</div>
      </div>

      <input type="email" email id="email" placeholder="email" class="fadeIn first" [(ngModel)]="user.email"
        name="email" #email="ngModel" required>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>

      <input type="password" name="password" id="password" class="fadeIn fourth" placeholder="password"
        [(ngModel)]="user.password" #password="ngModel" required minlength="6" required>
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">password must be at least 6 charecter</div>
      </div>

      <input type="password" name="confirm_password" id="confirm_password" class="fadeIn fourth"
        placeholder="confirm password" [(ngModel)]="user.confirm_password" #confirm_password="ngModel" required>
      <div *ngIf="f.submitted && confirm_password.invalid" class="invalid-feedback">
        <div *ngIf="confirm_password.errors.required">confirm password is required</div>
        <div *ngIf="confirm_password.errors.mustMatch">password mismatch</div>
      </div>
      <input type="submit"  [value]="button">
      <div>
        <span *ngIf="!button=='update user' ">or</span>
      </div>
      <a *ngIf="!button=='update user' " class="fadeIn fourth" [routerLink]="[ '/login' ]">Login</a>
    </form>
  </div>
</div>
